<footer class="footer">
    <div class="container">
        <p>
            &copy; Convertion Company 2013
        </p>
        <ul class="footer-links">
            <li><a href="http://twitter.github.io/bootstrap/index.html">Twitter Bootstrap</a></li>
            <li class="muted">&middot;</li>
            <li><a href="http://addyosmani.github.io/jquery-ui-bootstrap/">jQuery UI Bootstrap</a></li>
        </ul>
    </div>
</footer>