<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#top">Convertion Project</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li class="active">
                        <a href="/pages/coverage/index.html" target="_blank">Coverage</a>
                    </li>
                    <li class="active">
                        <a href="/pages/doc/index.html" target="_blank">RDoc</a>
                    </li>
                    <li class="active">
                        <a href="/pages/tmp/metric_fu/output/index.html" target="_blank">Metrics</a>
                    </li>
                    <li class="active">
                        <a href="/pages/rails_best_practices_output.html" target="_blank">Rails Best Practices</a>
                    </li>
                    <li class="active">
                        <a href="https://github.com/mekhovov/celcius2fahrenheit" target="_blank">Source</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>