<div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="#top"><i class="icon-chevron-right"></i> To the top</a></li>
        <li><a href="#celcium_to_fahrenheit"><i class="icon-chevron-right"></i> Celcium to Fahrenheit</a></li>
        <li><a href="#meters_to_feet"><i class="icon-chevron-right"></i> Meters to Feet</a></li>
    </ul>
</div>