<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Convertion - it's easy!</h1>
        <p class="lead">Write an app that allows to user to convert celcius to fahrenheit.</p>
            The app should display the two temperatures visually. <br>
            It's up to you to decide how to implement this and which technology to use, it should be wed-based. <br>
            Make sure the design will allow for adding more functionality later, such as doing other kinds conversions. Cover by tests, add mertrics.
    </div>
</header>