<div class="span3"></div>
<div class="span9">
  <section>
      <div class="page-header">
          <h1>Bank Coding to Regex</h1>
      </div>
      <div class="row-fluid">
          <div class="span9">
            <p>
              Enter Bank Coding <input id="bank_coding_input"/>
              Get Regex: <input id="bank_coding_result"/>
            </p>
          </div>
      </div>
      <div class="page-header">
      </div>
  </section>
</div>
