<div class="span3"></div>
<div class="span9">
  <section id="celcium_to_fahrenheit">
      <div class="page-header">
          <h1>Celcium to Fahrenheit</h1>
      </div>
      <div class="row-fluid">
          <div class="span9">
              <div id="c-slider"></div>
              <p>Choose Celcium Temperature</p>
          </div>
          <div class="span3">
              <h2 class='value'>°C <span type="text" id="c-amount"></span> </h2>
          </div>
      </div>
      <br><br>
      <div class="row-fluid">
          <div class="span9">
              <div id="f-slider"></div>
              <p>Choose Fahrengeit Temperature</p>
          </div>
          <div class="span3">
              <h2 class='value'>°F <span type="text" id="f-amount"></span> </h2>
          </div>
      </div>
  </section>
</div>
