<div class="container">
  <div class="row">
  <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#celcium_to_fahrenheit"><i class="icon-chevron-right"></i> Celcium to Fahrenheit</a></li>
          <li><a href="#top"><i class="icon-chevron-right"></i> To the top</a></li>
      </ul>
  </div>
  <div class="span9">
      
      <!-- Celcium to Fahrenheit -->
      <section id="celcium_to_fahrenheit">
          <div class="page-header">
              <h1>Celcium to Fahrenheit</h1>
          </div>
          
           <!--  Slider -->
          
          <div class="row-fluid">
              <div class="span9">
                  <div id="c-slider"></div>
                  <p>Choose Celcium Temperature</p>
              </div>
              <div class="span3">
                  <h2 class='value'>°C <span type="text" id="c-amount"></span> </h2>
              </div>
          </div>
          <br><br><br>
          <div class="row-fluid">
              <div class="span9">
                  <div id="f-slider"></div>
                  <p>Choose Fahrengeit Temperature</p>
              </div>
              <div class="span3">
                  <h2 class='value'>°F <span type="text" id="f-amount"></span> </h2>
              </div>
          </div>

      </section>
      <!--end slider-->

  </div>
</div>