<div class="span3"></div>
<div class="span9">
  <section id="meters_to_feet">
      <div class="page-header">
          <h1>Meters to Feet</h1>
      </div>
      <div class="row-fluid">
          <div class="span9">
              <div id="m-slider"></div>
              <p>Choose Meters Distance</p>
          </div>
          <div class="span3">
              <h2 class='value'>m <span type="text" id="m-amount"></span> </h2>
          </div>
      </div>
      <br><br>
      <div class="row-fluid">
          <div class="span9">
              <div id="ft-slider"></div>
              <p>Choose Feet Distance</p>
          </div>
          <div class="span3">
              <h2 class='value'>ft <span type="text" id="ft-amount"></span> </h2>
          </div>
      </div>
  </section>
</div>
